@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&family=Tilt+Warp&display=swap');

:root{
  --font1:"Tilt Neon", sans-serif;
  --font2:"Tilt Warp", sans-serif;
  --bg1: #fff;
  --bg2: #75ba75; 
}

